<%- include('./partials/userHeader.ejs') -%>

<section style="margin-top: 100px; margin-bottom: 145px; margin-right: 100 px">
  <div class="row mt-3 mx-3" style="margin-top: 25px">
    <div class="col-md-3">
      <div style="margin-top: 50px; margin-left: 10px" class="text-center">
        <i
          id="animationDemo"
          data-mdb-animation="slide-right"
          data-mdb-toggle="animation"
          data-mdb-animation-reset="true"
          data-mdb-animation-start="onScroll"
          data-mdb-animation-on-scroll="repeat"
          class="fas fa-3x fa-shipping-fast text-white"
        ></i>
        <h3 class="mt-3 text-white">Welcome</h3>
      </div>
      <div class="text-center">
        <a href="/profile">
          <button type="submit" class="btn btn-white btn-rounded back-button">
            Go back
          </button>
        </a>
      </div>
    </div>
    <div class="container col-md-9 justify-content-center">
      <div class="card card-custom pb-4">
        <div class="card-body mt-0 mx-5">
          <div class="text-center mb-3 pb-2 mt-3">
            <h4 style="color: #495057">ADD ADDRESS</h4>
          </div>

          <form action="/newAddress" class="mb-0" method="post">
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input
                    type="text"
                    id="form9Example1"
                    name="fullName"
                    class="form-control input-custom"
                    required
                  />
                  <label class="form-label" for="form9Example1"
                    >Full name</label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input
                    type="text"
                    id="form9Example2"
                    name="houseName"
                    class="form-control input-custom"
                    required
                  />
                  <label class="form-label" for="form9Example2"
                    >House name / Office name</label
                  >
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input
                    type="text"
                    id="form9Example3"
                    name="city"
                    class="form-control input-custom"
                    required
                  />
                  <label class="form-label" for="form9Example3">City</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input
                    type="text"
                    id="form9Example4"
                    name="state"
                    class="form-control input-custom"
                    required
                  />
                  <label class="form-label" for="form9Example4">State</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input
                    type="number"
                    id="form9Example6"
                    name="pincode"
                    class="form-control input-custom"
                    required
                  />
                  <label class="form-label" for="form9Example6">Pincode</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input
                    type="number"
                    id="typeEmail"
                    name="phone"
                    class="form-control input-custom"
                    required
                  />
                  <label class="form-label" for="typeEmail">Phone</label>
                </div>
              </div>
            </div>

            <div class="float-end">
              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-rounded"
                style="background-color: #0062cc"
              >
                add address
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/userFooter.ejs') %>
