<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="user/userLogin/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="user/userLogin/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="user/userLogin/css/util.css" />
    <link rel="stylesheet" type="text/css" href="user/userLogin/css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form
            class="login100-form validate-form"
            action="/login"
            method="post"
            enctype="multipart/form-data"
          >
            <span class="login100-form-title p-b-26"> Welcome </span>
            <!-- <span class="login100-form-title p-b-48">
              <i class="zmdi zmdi-font"></i>
            </span> -->

            <div class="wrap-input100 validate-input" required>
              <input class="input100" type="text" name="username" />
              <span class="focus-input100" data-placeholder="Username"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter password"
            >
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input class="input100" type="password" name="password" />
              <span
                class="focus-input100"
                data-placeholder="Password"
                required
                pattern=".{8,20}"
              ></span>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit">Login</button>
              </div>
            </div>

            <div class="text-center p-t-115">
              <span class="txt1"> Don’t have an account? </span>

              <a class="txt2" href="/signup"> Sign Up </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="user/userLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="user/userLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="user/userLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="user/userLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="user/userLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="user/userLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="user/userLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="user/userLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="user/userLogin/js/main.js"></script>
  </body>
</html>
