<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <!-- Page Meta Tags-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="user/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="user/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user/favicon/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="./assets/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="user/css/libs.bundle.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="user/css/theme.bundle.css" />

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
      <style>
        /**
          * Reinstate scrolling for non-JS clients
          */
        .simplebar-content-wrapper {
          overflow: auto;
        }
      </style>
    </noscript>

    <!-- Page Title -->
    <title>Petplanet</title>
  </head>
  <body class="">
    <!-- Navbar -->
    <div class="position-relative z-index-30">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-white border-bottom mx-0 p-0 flex-column border-0 position-absolute w-100 z-index-30 bg-transparent navbar-dark navbar-transparent bg-white-hover transition-all"
      >
        <div class="w-100 pb-lg-0 pt-lg-0 pt-4 pb-3">
          <div
            class="container-fluid d-flex justify-content-between align-items-center flex-wrap"
          >
            <!-- Logo-->
            <a
              class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0"
              href="/"
            >
              <!-- Start of Logo-->
              <div class="d-flex align-items-center">
                <div class="f-w-6 d-flex align-items-center me-2 lh-1">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194 194">
                    <path
                      fill="currentColor"
                      class="svg-logo-white"
                      d="M47.45,60l1.36,27.58,53.41-51.66,50.87,50,3.84-26L194,100.65V31.94A31.94,31.94,0,0,0,162.06,0H31.94A31.94,31.94,0,0,0,0,31.94v82.57Z"
                    />
                    <path
                      fill="currentColor"
                      class="svg-logo-dark"
                      d="M178.8,113.19l1,34.41L116.3,85.92l-14.12,15.9L88.07,85.92,24.58,147.53l.93-34.41L0,134.86v27.2A31.94,31.94,0,0,0,31.94,194H162.06A31.94,31.94,0,0,0,194,162.06V125.83Z"
                    />
                  </svg>
                </div>
                <span class="fs-5">Petplanet</span>
              </div>
              <!-- / Logo-->
            </a>
            <!-- / Logo-->

            <!-- Main Navigation-->
            <div
              class="ms-5 flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1"
              id="navbarNavDropdown"
            >
              <!-- Mobile Nav Toggler-->
              <button
                class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="ri-close-circle-line ri-2x"></i>
              </button>
              <!-- / Mobile Nav Toggler-->

              <ul class="navbar-nav py-lg-2 mx-auto">
                <li class="nav-item me-lg-4 dropdown position-static">
                  <a
                    class="nav-link fw-bolder dropdown-toggle py-lg-4"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                  Shop by Pet
                  </a>
                  <!-- Menswear dropdown menu-->
                  <div class="dropdown-menu dropdown-megamenu">
                    <div class="container">
                      <div class="row g-0">
                        <!-- Dropdown Menu Links Section-->
                        <div class="col-12 col-lg-7">
                          <div class="row py-lg-5">
                            <!-- menu row-->
                            <div class="col col-lg-6 mb-5 mb-sm-0">
                              <h6 class="dropdown-heading">
                                Waterproof Layers
                              </h6>
                              <ul class="list-unstyled">
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Waterproof Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Insulated Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Down Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Softshell Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Casual Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Windproof Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Breathable Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Cleaning & Proofing</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item dropdown-link-all"
                                    href="./category.html"
                                    >View All</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <!-- /menu row-->

                            <!-- menu row-->
                            <div class="col col-lg-6">
                              <h6 class="dropdown-heading">Brands</h6>
                              <ul class="list-unstyled">
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Lifestyle & Casual</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Walking Shoes</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Running Shoes</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Military Boots</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Fabric Walking Boots</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Leather Walking Boots</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Wellies</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Winter Footwear</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item dropdown-link-all"
                                    href="./category.html"
                                    >View All</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <!-- /menu row-->
                          </div>
                        </div>
                        <!-- /Dropdown Menu Links Section-->

                        <!-- Dropdown Menu Images Section-->
                        <div class="d-none d-lg-block col-lg-5">
                          <div
                            class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute"
                            style="
                              background-image: url(./assets/images/banners/banner-2.jpg);
                            "
                          ></div>
                        </div>
                        <!-- Dropdown Menu Images Section-->
                      </div>
                    </div>
                  </div>
                  <!-- / Menswear dropdown menu-->
                </li>
                <li class="nav-item me-lg-4 dropdown position-static">
                  <a
                    class="nav-link fw-bolder dropdown-toggle py-lg-4"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                  Shop by Brand
                  </a>
                  <!-- Womenswear dropdown menu-->
                  <div class="dropdown-menu dropdown-megamenu">
                    <div class="container">
                      <div class="row g-0">
                        <!-- Dropdown Menu Links Section-->
                        <div class="col-12 col-lg-7">
                          <div class="row py-lg-5">
                            <!-- menu row-->
                            <div class="col col-lg-6 mb-5 mb-sm-0">
                              <h6 class="dropdown-heading">
                                Waterproof Layers
                              </h6>
                              <ul class="list-unstyled">
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Waterproof Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Insulated Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Down Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Softshell Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Casual Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Windproof Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Breathable Jackets</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Cleaning & Proofing</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item dropdown-link-all"
                                    href="./category.html"
                                    >View All</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <!-- /menu row-->

                            <!-- menu row-->
                            <div class="col col-lg-6">
                              <h6 class="dropdown-heading">Brands</h6>
                              <ul class="list-unstyled">
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Lifestyle & Casual</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Walking Shoes</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Running Shoes</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Military Boots</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Fabric Walking Boots</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Leather Walking Boots</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Wellies</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item"
                                    href="./category.html"
                                    >Winter Footwear</a
                                  >
                                </li>
                                <li class="dropdown-list-item">
                                  <a
                                    class="dropdown-item dropdown-link-all"
                                    href="./category.html"
                                    >View All</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <!-- /menu row-->
                          </div>
                        </div>
                        <!-- /Dropdown Menu Links Section-->

                        <!-- Dropdown Menu Images Section-->
                        <div class="d-none d-lg-block col-lg-5">
                          <div
                            class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute"
                            style="
                              background-image: url(./assets/images/banners/banner-4.jpg);
                            "
                          ></div>
                        </div>
                        <!-- Dropdown Menu Images Section-->
                      </div>
                    </div>
                  </div>
                  <!-- / Womenswear dropdown menu-->
                </li>
                <!-- 
                <li class="nav-item me-lg-4">
                  <a class="nav-link fw-bolder py-lg-4" href="#"> Kidswear </a>
                </li>
                <li class="nav-item me-lg-4">
                  <a class="nav-link fw-bolder py-lg-4" href="#">
                    Sale Items
                  </a>
                </li> -->

                <% if(!login) {%>
                <li class="nav-item me-lg-4">
                  <a class="nav-link fw-bolder py-lg-4" href="/login">
                    <i class="ri-user-line ri-lg align-middle"></i>&nbsp; Login
                  </a>
                </li>
                <% }else{ %>
                <li class="nav-item dropdown me-lg-4">
                  <a
                    class="nav-link fw-bolder dropdown-toggle py-lg-4"
                    href="/profile"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="ri-user-line ri-lg align-middle"></i>&nbsp; My
                    Account
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                     <h2>Hi, <a href="/profile"> <%=user.username %></h2></a>
                    </li>
                    <!-- <li>
                      <a class="dropdown-item" href="/profile">Profile</a>
                    </li> -->
                    <li>
                      <a class="dropdown-item" href="/orders">Orders</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/my-pets">My Pets</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/logout">Logout</a>
                    </li>
                    <!-- <li>
                      <a class="dropdown-item" href="./cart.html">Cart</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./checkout.html"
                        >Checkout</a
                      >
                    </li> -->
                  </ul>
                </li>
                <% } %>
              </ul>
            </div>
            <!-- / Main Navigation-->

            <!-- Navbar Icons-->
            <ul class="list-unstyled mb-0 d-flex align-items-center">
              <!-- Navbar Toggle Icon-->
              <li class="d-inline-block d-lg-none">
                <button
                  class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <i class="ri-menu-line ri-lg align-middle"></i>
                </button>
              </li>
              <!-- /Navbar Toggle Icon-->

              <!-- Navbar Search-->
              <li class="ms-1 d-inline-block">
                <button
                  class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
                  data-pr-search
                >
                  <i class="ri-search-2-line ri-lg align-middle"></i>
                </button>
              </li>
              <!-- /Navbar Search-->

              <!-- Navbar Wishlist-->
              <li class="ms-1 d-none d-lg-inline-block">
                <a
                  class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center"
                  href="/wishlist"
                >
                  <i class="ri-heart-line ri-lg align-middle"></i>
                </a>
              </li>
              <!-- /Navbar Wishlist-->

              <!-- Navbar Login-->
              <!-- <li class="ms-1 d-none d-lg-inline-block">
                <a
                  class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
                  href="#"
                >
                  <i class="ri-user-line ri-lg align-middle"></i>
                </a>
              </li> -->
              <!-- /Navbar Login-->

              <!-- Navbar Cart-->
              <li class="ms-1 d-inline-block position-relative">
                <button
                  class="btn btn-link px-2 text-decoration-none d-flex align-items-center disable-child-pointer"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasCart"
                  aria-controls="offcanvasCart"
                >
                  <i
                    class="ri-shopping-cart-2-line ri-lg align-middle position-relative z-index-10"
                  ></i>
                  <span
                    class="fs-xs fw-bolder f-w-5 f-h-5 bg-orange rounded-lg d-block lh-1 pt-1 position-absolute top-0 end-0 z-index-20 mt-2 text-white"
                    >2</span
                  >
                </button>
              </li>
              <!-- /Navbar Cart-->
            </ul>
            <!-- Navbar Icons-->
          </div>
        </div>
      </nav>
      <!-- / Navbar-->
    </div>
    <!-- / Navbar-->
  </body>
</html>
